<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
  <fieldset>
    <legend>Login</legend>
    <div>
      <label for="usr-email">Email:</label>
      <input id="usr-email" type="email">
    </div>
    <div>
      <label for="usr-pwd">Senha:</label>
      <input type="password">
    </div>
    <div>
      <button type="submit"> Entrar </button>
    </div>
  </fieldset>
</main>

<footer>
</footer>

</body>
</html>
